.mainContent{
    padding: 10px 15px;
    max-width:1248px;
    box-sizing: border-box;
}
/* .mainContent h3{
    width:70%;
} */

.backButton{
    display:flex;
    align-items: center;
    justify-content: end;
    width:90% !important;
    position:relative;
    top:-105px;
    color:white !important;
}
.backButton img{
    width:40px;
    height:40px;
}
.backButton:hover img{
    content: url(../img/arrow_leftTürkis.png);
}
.backButton:hover{
    margin-left:4px;
}

.mainContent p{
    color:white;
    font-size: 17px;
    font-family: 'Karla', sans-serif;
    /* width:90%; */
    display:flex;
    gap:3px;
}

.mainContent a{
    color: rgba(61, 207, 182, 1);
    text-decoration: none;
    /* margin-right:10px; */
}

.mainContent li{
    color:white;
    font-size: 17px;
    font-family: 'Karla', sans-serif;
}

.mainContent h1{
    color: rgba(61, 207, 182, 1);
    font-size: 32px;
    font-family: 'FiraCode', sans-serif;
    text-align: center;
}

.mainContent h2{
    color: rgba(61, 207, 182, 1);
    font-size: 24px;
    font-family: 'FiraCode', sans-serif;
}

.mainContent h5{
    color: rgba(61, 207, 182, 1);
    font-size: 20px;
    font-family: 'FiraCode', sans-serif;
}

.footerText{
    font-size: 18px;
    font-family: 'FiraCode', sans-serif;
    color: rgba(61, 207, 182, 1);
}

@media(max-width:600px){
    .footerText{
        display:none;
    }
    .footerTextMobile{
        display:block;
    }
}