body{
    display:flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    margin: 0px;
    padding: 0px;
    background-image: url(../img/porfolio_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    width: 100%;
    min-height:100vh;
}

.mainContent{
    margin: 0 auto;
    padding: 10px 65px;
    max-width:1248px;
    box-sizing: border-box;
    flex:1;
    overflow-y: scroll;
    max-height:calc(100vh - 98px - 84px - 20px - 59.4px - 114px);
}

.mainContent::-webkit-scrollbar{
    width: 4px;
}
.mainContent::-webkit-scrollbar-track{
    background: transparent;
}
.mainContent::-webkit-scrollbar-thumb{
    background-color: rgba(61, 207, 182, 1);
    border-radius: 20px;
}

@supports not selector(::-webkit-scrollbar) {
    .mainContent {
        scrollbar-width: thin;
        scrollbar-color: rgba(61, 207, 182, 1) transparent;
    }
}



.mainContent p{
    color:white;
    font-size: 17px;
    font-family: 'Karla', sans-serif;
    display:flex;
    gap:3px;
}

.mainContent a{
    color: rgba(61, 207, 182, 1);
    text-decoration: none;
    /* margin-right:10px; */
}

.mainContent li{
    color:white;
    font-size: 17px;
    font-family: 'Karla', sans-serif;
}

 h1{
    color: rgba(61, 207, 182, 1);
    font-size: 32px;
    font-family: 'FiraCode', sans-serif;
    text-align: center;
}

.mainContent h2{
    color: rgba(61, 207, 182, 1);
    font-size: 24px;
    font-family: 'FiraCode', sans-serif;
}

 h5{
    color: rgba(61, 207, 182, 1);
    font-size: 20px;
    font-family: 'FiraCode', sans-serif;
    margin-bottom: 0px;
}

.footerText{
    font-size: 18px;
    font-family: 'FiraCode', sans-serif;
    color: rgba(61, 207, 182, 1);
}

@media(max-width:600px){
    .footerText{
        display:none;
    }
    .footerTextMobile{
        display:block;
    }
     h1{
        font-size: 21px;
    }
    .headlineH5{
        font-size: 17px;
        padding: 0px 15px;
    }
    .mainContent{
        max-height:calc(100vh - 98px - 84px - 20px - 59.4px - 140px);
    }
    .footerSection{
        margin-bottom:32px;
    }
}

@media(max-width:425px){
    .mainContent{
        padding: 10px 15px;
    }
}