
.footerSection{
    display:flex;
    background-color: rgb(177, 144, 94, 0.4);
    justify-content: space-between;
    align-items: end;
    min-width:1248px;
    height:126px;
    margin-bottom:64px;
}

.links{
    height:88px;
    width:100px;
    text-align: start;
}

.links a{
    display:block;
    color:white;
    text-decoration: none;
    margin-bottom: 8px;
}

.links img{
    display:none;
    width:8px;
    height:8px;
}

.links a:hover {
    display:flex;
    justify-content: center;
    align-items: center;
    color:rgba(61, 207, 182, 1);
}

.link1:hover img{
    display:flex;
    margin-left:-69px;
    margin-right:5px;
}

.link2:hover img{
    display:flex;
    margin-left:-75px;
    margin-right:5px;
}

.link3:hover img{
    display:flex;
    margin-left:-30px;
    margin-right:5px;
}

.logoNameDiv{
    color:white;
}

.logoNameDiv p{
    margin: 8px 0px 0px 0px;
    font-size: 16px;
}

.footerText{
    margin: 0px 0px 36px 0px;
    font-size: 18px;
    color:rgba(61, 207, 182, 1);
}
