
.footerSection{
    display:flex;
    /* background-color: rgb(177, 144, 94, 0.4); */
    justify-content: space-between;
    align-items: end;
    max-width:1248px;
    width:98%;
    box-sizing: border-box;
    height:126px;
    margin-bottom:64px;
}

.logoNameDiv img{
    width:44px;
    height:54px;
    margin-right:8px;
    /* margin-bottom: -12px; */
}

.logo{
    display:flex;
    align-items: center;
}

.links{
    height:88px;
    width:100px;
    text-align: start;
}

.links a{
    display:block;
    color:white;
    text-decoration: none;
    margin-bottom: 8px;
    font-size: 16px;
    font-family: 'Karla', sans-serif;
}

.links img{
    display:none;
    width:8px;
    height:8px;
}

.links a:hover {
    display:flex;
    justify-content: center;
    align-items: center;
    color:rgba(61, 207, 182, 1);
}

.link1:hover img{
    display:flex;
    margin-left:-66px;
    margin-right:8px;
}

.link2:hover img{
    display:flex;
    margin-left:-74px;
    margin-right:8px;
}

.link3Floor:hover img{
    display:flex;
    margin-left:-27px;
    margin-right:8px;
}

.logoNameDiv{
    color:white;
}

.footerTextMobile{
    display:none;
    margin: 0px 0px 36px 0px;
    font-size: 18px;
    color: rgba(61, 207, 182, 1);
}

.logoNameDiv p{
    margin: 8px 0px 0px 0px;
    font-size: 16px;
    font-family: 'Karla', sans-serif;
}

.footerText{
    margin: 0px 0px 36px 0px;
    font-size: 18px;
    font-family: 'FiraCode', sans-serif;
    color:rgba(61, 207, 182, 1);
}

@media(max-width:820px){
    .footerText{
        display:none;
    }
    .footerTextMobile{
        display:block;
    }
}
