.mainBanner {
    /* height:calc(100vh - 98px); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    height: calc(100dvh - 96px);
    max-height: 2160px;
    width: 98%;
    max-width: 1440px;
    /* margin: 0 auto; */
}

.headlineDiv {
    display: flex;
    /* margin-top:90px; */
    flex-direction: column;
    align-items: center;
}

.mainBanner h2 {
    margin: 0px;
    color: white;
    font-size: clamp(12px, 0px + 5vw, 45px);
    font-family: 'FiraCode', sans-serif;
}

.mainBanner h1 {
    margin: 0px;
    color: white;
    font-size: clamp(16px, -8px + 5vw + 5vh, 128px);
    font-family: 'Karla', sans-serif;
}

.buttonAria {
    display: flex;
    justify-content: center;
    align-self: center;
    width: 363px;
    gap: 10px;
}

.buttonAria a {
    font-size: 18px;
    border: 1px solid white;
    border-radius: 25px;
    /* min-width: 127px; */
    background-color: transparent;
    color: white;
    cursor: pointer;
}

.buttonAria p {
    margin: 0px;
}

.check_My_Work {
    position: relative;
    padding: 23px 21.7px;
    overflow-x: hidden;
    min-width:172px;
    box-sizing: border-box;
}

.check_My_Work p {
    position: absolute;
    top: 11px;
    font-family: 'Karla', sans-serif;
    min-width: 180px;
}
.check_My_Work:hover{
    color:rgba(61, 207, 182, 1);
    border-color: rgba(61, 207, 182, 1);
}

.check_My_Work:hover p {
    animation: circleFirst 1s linear forwards, circleLoop 2s linear infinite 1s;
}

@keyframes circleFirst {
    
    0% {
        left: 24px;
    }
    
    
    100% {
        opacity:0.8;
        left: -180px;
    }
}

@keyframes circleLoop {
    
    0% {
        opacity:0;
        left: -180px;
    }
    
    10% {
        opacity:0;
        left: 170px;
    }
    30% {
        opacity:1;
        left: 170px;
    }
    
    100% {
        opacity:1;
        left: -180px;
    }
    
}

.Contact_ME {
    position: relative;
    padding: 13px 24.5px;
    overflow-x: hidden;
}

.Contact_ME{
    min-width:156px;
    box-sizing: border-box;
}

.Contact_ME p{
    position: absolute;
    top: 11px;
    width:100%;
    font-family: 'Karla', sans-serif;
}
.Contact_ME:hover{
    color:rgba(61, 207, 182, 1);
    border-color: rgba(61, 207, 182, 1);
}

.Contact_ME:hover p {
    animation: contactFirst 1s linear forwards, contactLoop 2s linear infinite 1s;
}

@keyframes contactFirst {
    
    0% {
        left: 20px;
    }
    
    
    100% {
        opacity:0.8;
        left: -180px;
    }
}

@keyframes contactLoop {
    
    0% {
        opacity:0;
        left: -180px;
    }
    
    10% {
        opacity:0;
        width:100%;
        left: 195px;
    }
    30% {
        opacity:1;
        width:100%;
        left: 195px;
    }
    
    100% {
        opacity:1;
        left: -180px;
    }
    
}

.sliderWrapper {
    display: flex;
    position: absolute;
    max-width: 1440px;
    overflow-x: hidden;
    width: 97%;
    bottom: 45px;
    left: 0px;
    z-index: 10;
    transform: rotateZ(-3deg);
    perspective: 1000px;
    transform-style: preserve-3d;
    backdrop-filter: blur(3px);
}

.githubLogo:hover{
    content:url(./img/Github.png);
}
.linkedIn{
    position:relative;
}

.linkedIn:hover{
    content:url(./img/linkedIn_white.png);
}

.linkedIn:hover ~ .githubATag .easterEggDiv{
    display:flex;
    color:black;

}

@media(max-height:1140px) {
    /* .mainBanner h1{
        margin: 65px 0;
    }
    .mainBanner h2{
        margin: 23px 0;
    } */
    /* .headlineDiv{
        margin-top: 70px;
    } */
    /* .buttonAria{
        position:relative;
        top:30px;
    } */

}

@media(max-height:1080px) {
    /* .mainBanner h1{
        margin: 45px 0;
    }
    .mainBanner h2{
        margin: 13px 0;
    } */
    /* .headlineDiv{
        margin-top: 50px;
    } */
    /* .buttonAria{
        position:relative;
        top:40px;
    } */
}


.slider {
    display: flex;
    height: 62px;
    position: relative;
    max-width: 1920px !important;
    /* padding-right:10px; */
    /* margin-top:503px; */
    gap: 25px;
    opacity: 1;
    z-index: 3;
    background-color: rgba(255, 255, 255, 0.3);
    transform: translateZ(0);
    animation-fill-mode: both;
    /* backdrop-filter: blur(3px); */
}

.slider p {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-size: 32px;
    color: rgba(61, 207, 182, 1);
    gap: 25px;
    width: 395px;
    font-family: 'Karla', sans-serif;
}

.slider:first-child {
    animation: slideToLeft 26s infinite linear 1s;
    will-change: transform;
}

.slider:last-child {
    animation: slideFromRight 26s infinite linear 1s;
    will-change: transform;
}


@keyframes slideToLeft {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-100%);
    }
}

@keyframes slideFromRight {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-100%);
    }
}



.verticalDiv {
    display: flex;
    justify-content: space-between;
    position: absolute;
    /* --var: 100vh;
    height: calc(var(--var) * 39 / 100); */
    height: 480px;
    max-width: 1440px;
    width: 100%;
    bottom: 0px;
    padding: 0px 96px 0px 96px;
    box-sizing: border-box;
    z-index: 2;

}

.vleft {
    display: flex;
    flex-direction: column;
    /* position: relative; */
    justify-content: end;
    height: 312px;
    width: 32px;
    gap: 2.4px;
    margin-top: 168px;
    z-index: 2;
    /* background-color: rgba(255, 255, 255, 0.12); */
}
.firstFrame{
    width:30px;
    height:48px;
    border:1px solid rgba(61, 207, 182, 1);
    border-radius: 32px;
    position:relative;
}

.vleft hr {
    --var:100vh;
    height: calc(var(--var) * 20 / 100);
    /* height: 250px; */
    border-width: 1px;
    width: 1px;
    margin: 0 auto;
}

/* .vcenter{
    position:relative;
} */

.githubATag{
    position:relative;
}

.vright {
    display: flex;
    flex-direction: column-reverse;
    /* position: relative; */
    justify-content: end;
    align-items: center;
    height: 480px;
    width: 32px;
    gap:5px;
    z-index: 2;
    /* background-color: rgba(255, 255, 255, 0.12); */
}

.vright img{
    /* display:flex; */
    justify-content: center;
}
.githubATag{
    display:flex;
}

.vright hr {
    height: 195px;
    border-width: 1px;
    margin: 0 auto;
    width: 0px;
}

.vright a {
    position:relative;
    text-orientation: sideways;
    writing-mode: sideways-lr;
    color: white;
    cursor: pointer;
    text-decoration: none;
    font-size: 18px;
    /* font-family: 'Karla', sans-serif; */
    font-weight: 400;
}

.vright a:hover {
    color: rgba(61, 207, 182, 1);
}

.easterEggDiv{
    position:absolute;
    top:-40px;
    right:42px;
    width:215px;
    height:95px;
    padding:10px;
    background-color: azure;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 25px;
    border-top-left-radius: 0px;
    border:1px solid green;
    display:none;
    justify-content: center;
    text-orientation: upright;
    writing-mode: horizontal-tb;
    font-size: 16px;
}

.mailMobile{
    display:none;
}


@media(max-width:820px) {
    .mainBanner h2{
    font-size: clamp(12px, 14px + 3vw, 40px);
}
.mainBanner h1{
    font-size: clamp(16px, 8px + 9vw, 128px);
}
.vright a:nth-child(5){
    display:none;
}
.slider{
    height:53px;
    gap:15px;
}
.slider p{
    font-size: 24px;
    width: 290px;
}

.vright hr{
    --var:100vh;
    height: calc(var(--var) *18 / 100); 
}
/* .vright{
    flex-wrap: wrap-reverse;
} */

.mailMobile{
    display:block;
}

.headlineDiv{
    margin-top: -150px;
}
}

@media(max-width:760px) {
    .buttonAria {
        margin-top:15px;
        gap:15px;
    }
    .verticalDiv{
        padding: 0px 16px 0px 16px;
    }
}

@media(max-width:377px) {
    .check_My_Work {
        padding: 20px 14.7px;
        min-width: 155px;
    }

    .Contact_ME {
        padding: 10px 15.7px;
        min-width: 130px;
    }
    .buttonAria a{
        font-size: 16px;
    }
    .buttonAria{
        gap:10px;
        width:260px;
    }
}

@media(max-height:600px){
    .vright a:nth-child(5){
    display:none;
}
}
