
.projectContent{
    display:flex;
    max-width:1088px;
    gap:88px;
}


.closeSection{
    cursor: pointer;
    width:100%;
    max-width:1245px;
    text-align: end;
    margin-top:56px;
    margin-bottom: 39px;
}

.projectInfo{
    display:flex;
    position:relative;
    bottom:70px;
    flex-direction: column;
    /* justify-content: space-between; */
    min-width:480px;
    width:100%;
}

.projectQuestion{
    font-size: 24px;
    color:rgba(61, 207, 182, 1);
    margin-bottom: 20px;
}

.projectInfo h3{
    font-size: 128px;
    margin:0px 0px 0px 0px;
}

.projectName{
    height:58px;
    margin-bottom: 40px;
    font-size: 64px;
    color:white;
}

.projectDescription{
    height:60px;
    font-size: 18px;
    width:80%;
    margin-bottom: 32px;;
}

.projectStack{
    display:flex;
    align-items: center;
    gap:2.5px;
    margin-bottom: 40px;
}

.projectImage a{
    margin-top:48.22px;
    display:flex;
    justify-content:end;
}

.projectStack p{
    margin: 0px 16px 0px 0px;
    color:white;
}

.projectLinks{
    display:flex;
    gap:24px;
}



.projectLinks a{
    display:flex;
    align-items: center;
    padding:13px 24px;
    border: 1px solid white;
    color:white;
    text-decoration: none;
    border-radius: 25px;
    gap:4px;
}