.projectBackground{
    position:fixed;
    display:none;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    background-color:rgb(3, 3, 3, 0.9);
}

.portfolioFullsize {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    max-width: 100%;
    z-index: 5;
}

.portfolioContent {
    margin: 0 auto;
    width: 100%;
    max-width: 1270px;
    height: 600px;
}

.PortfolioTextdiv {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
    max-width: 1230px;
    max-height: 565px;
    gap: 48px;
}

.portfolioText hr {
    border-color: rgba(61, 207, 182, 1);
}

.portfolioText {
    position: relative;
    max-width: 880px;
    width: 100%;
    max-height: 565px;
}

.mainTopic {
    color: rgba(61, 207, 182, 1);
    font-size: 32px;
    font-weight: 700;
    margin: 0px;
}

.portfolioMainDescription {
    max-width: 1200px;
    width: 100%;
    height: 565px;
    padding-left: 10px;
}

.description {
    color: white;
}

.projectJoin {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    color: white;
    height: 109px;
    padding: 0px 10px 0px 10px;
}

.projectElPollo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    height: 109px;
    padding: 0px 10px 0px 10px;
}

.projectBubble {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    height: 109px;
    padding: 0px 10px 0px 10px;
}

.portfolioText:has(.projectJoin:hover)~.bilderDiv .projectJoin_showMiniVersion {
    opacity: 1;
}

.portfolioText:has(.projectElPollo:hover)~.bilderDiv .projectElpollo_showMiniVersion {
    opacity: 1;
}

.portfolioText:has(.projectBubble:hover)~.bilderDiv .projectBubble_showMiniVersion {
    opacity: 1;
}

.projectJoin:hover {
    background-color: rgba(61, 207, 182, 0.3);
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

.projectElPollo:hover {
    background-color: rgba(61, 207, 182, 0.3);
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

.projectBubble:hover {
    background-color: rgba(61, 207, 182, 0.3);
    transition: 0.2s ease-in-out;
    cursor: pointer;
}


.projectJoin:hover .leftparagraphJoin:after {
    opacity: 1;
}

.projectElPollo:hover .leftparagraphElpollo:after {
    opacity: 1;
}

.projectBubble:hover .leftparagraphBubble:after {
    opacity: 1;
}


.leftparagraph {
    font-size: 24px;
    height: 28px;
}

.rightparagraph text {
    margin: 0px 4px;
    color: rgba(61, 207, 182, 1);
}



.leftparagraphJoin:after {
    content: url(./img/arrow_outward.png);
    display: inline-block;
    height: 26px;
    align-items: center;
    color: white;
    opacity: 0;
    margin-left: 10px;
}

.leftparagraphElpollo:after {
    content: url(./img/arrow_outward.png);
    display: inline-block;
    height: 26px;
    align-items: center;
    color: white;
    opacity: 0;
    margin-left: 10px;
}

.leftparagraphBubble:after {
    content: url(./img/arrow_outward.png);
    display: inline-block;
    height: 26px;
    align-items: center;
    color: white;
    opacity: 0;
    margin-left: 10px;
}

.bilderDiv {
    position: relative;
    max-width: 252px;
    width: 100%;
    bottom: 50px;
    margin-right: 46px;
    max-height: 565px;
}

.projectJoin_showMiniVersion {
    position: absolute;
    display: flex;
    width: 30%;
    min-width: 316px;
    top: 150px;
    right: -50px;
    opacity: 0;

}

.projectElpollo_showMiniVersion {
    position: absolute;
    display: flex;
    width: 30%;
    min-width: 316px;
    bottom: 65px;
    right: -50px;
    opacity: 0;

}

.projectBubble_showMiniVersion {
    position: absolute;
    display: flex;
    width: 30%;
    min-width: 316px;
    bottom: -80px;
    right: -50px;
    opacity: 0;

}

.projectMaxView {
    max-width: 1248px;
    min-height: 652px;
    box-sizing: border-box;
    position: fixed;
    z-index: 5;
    padding: 20px 80px;
    top: 50%;
    left: -50%;
    transform: translate(-50%, -50%);
    border-radius: 30px;
    opacity: 1;
    border: 1px solid rgba(61, 207, 182, 1);
    background-color: gray;
    justify-self: center;
    align-items: center;
    transition: opacity 0.2s ease-in-out;
    background-image: url('./img/porfolio_bg.png');
    background-repeat: no-repeat;
    background-size: cover;
}

@media(max-width:820px) {
    .projectMaxView {
        position: fixed;
        /* height: clamp(550px, calc(100vh - 30px), calc(100vw - 35px)); */
        top: 50%;
        left: -50%;
        transform: translate(-50%, -50%);
    }

    .portfolioContent {
        width: 88%;
        height: 1043px;
    }

    .projectJoin {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: start;
    }

    .leftparagraphJoin {
        margin-bottom: 0px;
    }

    .leftparagraphElpollo {
        margin-bottom: 0px;
    }

    .leftparagraphBubble {
        margin-bottom: 0px;
    }

    .bilderDiv {
        display: none;
    }

    .rightparagraph {
        margin-top: 0px;
    }

    .projectElPollo {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: start;
    }

    .projectBubble {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: start;
    }
}

