
.techSkillsSection{
    display:flex;
    max-width:1920px;
    margin:12px 0px;
    gap:96px;
}

.headline{
    color: rgba(61, 207, 182, 1);
    font-size: 32px;
}

.skillText{
    border-radius: 30px;
    border:1px solid rgba(61, 207, 182, 1);
    width:522px;
    height:500px;
}

.skillImages{
    /* display:flex; */
    flex-wrap: wrap;
    justify-content: space-around;
    column-gap:72px;
    row-gap:40px;
    margin-top:100px;
    max-width:632px;
    max-height:428px;
}

.skillImages img{
    margin-right:50px;
}

.skillTextHeadline{
    font-size: 64px;
    color: rgba(61, 207, 182, 1);
    margin: 32px 32px 40px 32px;
    font-weight: 500;
    text-align: left;
    letter-spacing: 10px;
}

.skillTextParagraph{
    color:white;
    margin: 0px 32px 32px 32px;
    text-align: left;
    font-size: 18px;;
}

.secondHeadline{
    color: white;
    font-size: 32px;
    margin: 0px 0px 16px 32px;
    text-align: left;
}

.secondHeadline span{
    color: rgba(61, 207, 182, 1);
}

.lastParagraph{
    margin: 0px 32px 16px 32px;
    text-align: left;
    font-size: 18px;
    color:white;
}